@media screen and (min-width: 480px) {
/******************************************
TWO COLUMN LAYOUT
******************************************/
    #primary{
    width: 50%;
    float: left;
  }
  
  #secondary{
    width: 40%;
    float: right;
  }
  
/******************************************
PAGE: ABOUT
******************************************/

.profile-photo{
    float: left;
    margin: 0 5% 80px 0;  
}
}

@media screen and (min-width: 660px) {

/******************************************
HEADER
******************************************/  
  
  nav{
    float:right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
   #logo{
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;    
  }
  
  h1{
    font-size: 2.5em;
  }
  
  h2{
    font-style: 0.825em;
    margin-bottom: 20px;
  }
    
h3{
    font-size: 1.75em;
}
  
  header{ 
    margin-bottom: 60px;    
}
    
/******************************************
ANIMATION
******************************************/

.line {
    clear: left;
    width: 30%;
    height: 1px;
    background-color: #ffa366;
    margin-top: 6%;
    position: absolute;
    -webkit-animation-name: animation;
    -webkit-animation-duration: 4s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animation {
    from {left: 0%;}
    to {left: 70%;}
}

@keyframes animation {
    from {left: 0%;}
    to {left: 70%;}
}
    
  
}